<form  #updateForm="ngForm"(ngSubmit)="updateCustomer()">
    <div class="s3">
    <h1>Customer Imformation</h1>
    <mat-form-field class="example-form-field">
        <mat-label>Your Name</mat-label>
        <input matInput type="text"  [(ngModel)]="data.name" name="name" ngModel required>
    </mat-form-field>
    
    <div class="example-container">
        <mat-form-field hintLabel="" appearance="fill">
          <mat-label>Mobile Number</mat-label>
          <input matInput #input maxlength="10" placeholder="Enter your mobile Number" [(ngModel)]="data.mobNo" name="mobNo" ngModel  required>
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
        </div>
    
        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com"  [(ngModel)]="data.email" name="email" ngModel required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
    
          <mat-form-field appearance="fill">
            <mat-label> Select Gender</mat-label>
            <mat-select  [(ngModel)]="data.gender" name="gender" ngModel required>
              <mat-option value="male" >male</mat-option>
              <mat-option value="female" >Female</mat-option>
            </mat-select>
          </mat-form-field><br>
    
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput  [(ngModel)]="data.address"  name="address" ngModel required></textarea>
          </mat-form-field><br>
    
          <button  mat-flat-button color="primary"style ="margin: 1px 10px;">UPDATE</button>
          <button mat-flat-button color="warn" mat-dialog-close (click)="openSnackBar('Your data updated sucessifully!','Dismiss')">Close</button>
        </div>
    </form>
    