  
  <mat-card>
   
    <div class="header">
            <h1>Login</h1>
        </div>
        <form #userForm="ngForm"(ngSubmit)="onSubmit(userForm.value)" name="userForm"[formGroup]="loginForm">
            <div class="email-input">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input formControlName="userName" matInput required />
                       
                            </mat-form-field>
            </div>
            <div>
                <span class="aLink">Forgot Password ?</span>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password': 'text' "name="user_password" id="101" required />
                    <button mat-icon-button matSuffix (click)="hide=!hide"
                    [attr.aria-label]="'Hide Password'"[attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                     <mat-error *ngIf="loginForm.get('password')?.errors?.required">
                        Required Password
                        </mat-error> 
                    </mat-form-field>
            </div>
            <button mat-flat-button color="primary">Login</button>
        </form>
  
</mat-card>  
